<head>
<%= stylesheet_link_tag "blueprint.css.scss" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
<%= javascript_include_tag "schedule.js" %>

</head>
<body>
<div id="container" class="span-24">
<%= render "layouts/navigation" %>
  <div id="meetup-event" class=" prepend-1 span-12">
  <% if @has_meetup %>
  <div id="meetup" class=" prepend-1 span-12">
<%= form_tag 'schedule/schedule_meetup_event' , :method=> :post do %>
    <fieldset>
    <legend>Schedule Meetup Event Creation</legend>
    <%= label_tag 'meetup_event_schedule', "Schedule Date/Time: "%><br>
    <%= text_field_tag 'meetup_event_schedule_date' %> -
    <%= time_select('meetup_event_schedule_time',"", {:default=>Time.now, :minute_step => 15}) %><br>
    <%= label_tag 'meetup_event_group','Meetup Group:' %><br>
    <%= select('meetup_event_group','meetup_group_id',@meetup_groups_admin) %><br>
    <%= label_tag 'meetup_event_datetime', "Event Start Date/Time: "%><br>
    <%= text_field_tag 'meetup_event_date' %> -
    <%= time_select('meetup_event_time',"", {:default=>Time.now, :minute_step => 15}) %><br>
    <%= label_tag 'meetup_event_name', "Name: "%><br>
    <%= text_field_tag 'meetup_event_name' %><br>
    <%= label_tag 'meetup_event_description', "Description: "%><br>
    <%= text_area_tag 'meetup_event_description' %><br>
    <%= label_tag 'meetup_event_venue', "Venue: "%><br>
    <%= select('meetup_event_venue','meetup_venue_id',[] )%><br>
    
    <%= submit_tag 'Schedule Event', :class=>'orange' %>
    </fieldset>
<% end %>
  </div>
  <div id="meetup-message" class="prepend-1 span-12">
    <%= form_tag "schedule/schedule_meetup_comment", :method=> :post do %>
      <fieldset>
        <legend>Schedule Meetup Comment</legend>
        <%= label_tag 'meetup_comment_schedule', "Schedule Date/Time: "%><br>
        <%= text_field_tag 'meetup_comment_schedule_date'%> -
        <%= time_select('meetup_comment_schedule_time',"", {:default=>Time.now, :minute_step => 15}) %><br>
        <%= label_tag 'meetup_group','Meetup Group:' %><br>
        <%= select('meetup_group','meetup_group_id',@meetup_groups) %><br> 
        <%= label_tag 'meetup_event','Meetup Event:' %><br>
        <%= select('meetup_event','meetup_event_id',[])%><br>
        <%= label_tag 'meetup_event_comment','Comment:' %><br>
        <%= text_area_tag 'meetup_event_comment' %><br>
        <%= submit_tag 'Schedule Comment', :class=>'orange' %>
  </fieldset>
<% end %>
  </div>
  <% end %>
  <% if @has_twitter %>
  <div id="twitter" class=" prepend-1 span-12">
<%= form_tag 'schedule/schedule_tweet' , :method=> :post do %>
    <fieldset>
    <legend>Schedule Tweet</legend>
    <%= label_tag 'tweet_schedule', "Schedule Date/Time: "%><br>
    <%= text_field_tag 'tweet_schedule_date' %> -
    <%= time_select('tweet_schedule_time',"", {:default=>Time.now, :minute_step => 15}) %><br>
    <%= label_tag 'tweet', "Tweet: "%><br>
    <%= text_area_tag 'tweet' %><br>
   
    <%= submit_tag 'Schedule Tweet', :class=>'orange'%>
    </fieldset>
<% end %>
  </div>
  <% end %>

  <% if @has_facebook %>
  <div id="facebook" class=" prepend-1 span-12">
<%= form_tag 'schedule/schedule_facebook_status' , :method=> :post do %>
    <fieldset>
    <legend>Schedule Facebook Status</legend>
    <%= label_tag 'facebook_status_schedule', "Schedule Date/Time: "%><br>
    <%= text_field_tag 'facebook_status_schedule_date' %> -
    <%= time_select('facebook_status_schedule_time',"", {:default=>Time.now, :minute_step => 15}) %><br>
    <%= label_tag 'message', "Message: "%><br>
    <%= text_area_tag 'message' %><br>

    <%= submit_tag 'Schedule Post', :class=>'orange'%>
    </fieldset>
<% end %>
  </div>
  <% end %>
</div>
</body>

