<div id="header" class="span-24">
  <div id="logo" class="span-2">
    <h1 id="MarketingAid"><%= image_tag "header-small.png", {:alt=>"MarketingAid", :class=>"logo"} %></h1>
  </div>
  <div id="login" class="span-8 push-14 last">
    <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
    <% else %>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<div id="subheader" class="span-24 last">
<ul>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Dashboard',:dashboard) %>
    </li>
    <li>
    <%= link_to('Feed', :feed) %>
    </li>
    <li>
    <%= link_to('Analytics', :analytics) %>
    </li>
    <li>
    <%= link_to('Services', :services) %>
    </li>
    <li>
    <%= link_to('Schedule', :schedule) %>
    </li>
  <% end %>
</ul>
</div>
<div id="alert-bar" class="span-24 last">
  <% if !alert.nil? %>
    <p id="notice-board" class="alert"><%= alert %></p>
  <% elsif !notice.nil? %>
    <p id="notice-board" class="notice"><%= notice %></p>
  <% else %>
    <p id="notice-board"/>
  <% end %>
</div>
